#map, #rasterMap {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

div.puzzle {
    display: inline-block;
    width: 150px;
    height: 75px;
    /*margin: 20px;*/
    background-color: #0078A8;
}

#puzzleGrid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}

#puzzleGrid div {
    border: 1px solid black;
    width: 150px;
    height: 75px;
    background-color: #0078A8;
}

/*#rasterMap {*/
/*    width: 300px;*/
/*    height: 150px;*/
/*    border: 1px solid black;*/
/*}*/