body {
    font-family: 'Garamond', serif;
    background-color: blanchedalmond;
    color: black;
    line-height: 1.5;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: rosybrown;
    background-image: url("style_1_tori_gate.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    padding: 30px;
    margin-bottom: 30px;
    border: 3px solid saddlebrown;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
}

header p {
    font-style: italic;
}

main {
    background-color: whitesmoke;
    padding: 40px;
    margin-bottom: 30px;
    border: 2px solid bisque;

}

h2 {
    color: darkgoldenrod;
    font-size: 1.75em;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 10px;
    font-weight: normal;
}

h3 {
    color: saddlebrown;
    font-size: 1.3em;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: normal;
    font-style: italic;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

aside {
    background-color: bisque;
    padding: 30px;
    margin-bottom: 30px;
    border: 2px solid darkgoldenrod;
}

aside h2 {
    color: saddlebrown;
    margin-top: 0;
    border-bottom: 2px solid saddlebrown;
}

dl {
    margin-top: 20px;
}

dt {
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
}

dd {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: rosybrown;
    color: whitesmoke;
    padding: 20px;
    border: 2px solid saddlebrown;
    font-style: italic;
}